html, body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}
body {
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
}
.navbar {
    background-color: #1e1e1e;
}
.navbar-brand {
    color: #00aaff; /* Azul claro */
}
.navbar-brand:hover {
    color: #0077cc; /* Azul escuro para hover */
}
.container {
    flex: 1;
    margin-top: 30px;
    margin-bottom: 80px; /* Added bottom margin to ensure space for footer */
}
.project-title {
    font-size: 2.5rem;
    color: #e0e0e0;
    margin-bottom: 20px;
}
.project-description {
    font-size: 1.2rem;
    color: #b0b0b0;
    margin-bottom: 20px;
}
.project-links {
    margin-top: 20px;
}
.btn-github {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
    transition: background-color 0.3s, border-color 0.3s;
}
.btn-github:hover {
    background-color: #444;
    border-color: #555;
    color: #00aaff; /* Azul claro */
}
.video-container {
    margin-top: 30px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin-bottom: 40px; /* Added margin to create space between video and footer */
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer {
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 20px;
    text-align: center;
    width: 100%;
}

 /* Hide scrollbar but allow scrolling */
html, body {
    overflow: auto;  /* Allow scrolling */
    scrollbar-width: none;  /* Hide scrollbar in Firefox */
}

html::-webkit-scrollbar {
    display: none;  /* Hide scrollbar in Webkit browsers (Chrome, Safari) */
}

/* Internet Explorer and old Edge */
html {
    -ms-overflow-style: none; /* Hide scrollbar in IE and old Edge */
}

/* Example content to make page scrollable */
.content {
    height: 200vh; /* Double the viewport height to enable scrolling */
}
